.contactForm-container {
    background-color: unset;

    .contactForm {
        width: 85%;
        flex-flow: row nowrap;

        .left {
            width: 50%;
            padding: 96px;

        }

        .right {
            width: 50%;
            padding: 96px 96px 48px 96px;

            .text {
                display: flex;
                flex-flow: column nowrap;
                gap: 16px;

                h1 {
                    text-align: start;
                }

                p {
                    text-align: start;
                }
            }
        }
    }
}