.testimonials-container {
    padding: 128px 0px;

    .testimonials {
        width: 85%;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: unset;

        .left {
            width: 25%;
        }

        .right {
            width: 60%;
        }
    }
}